.jumbotron{
    min-height: 300px;
    background-image: url('https://bit.ly/2T3ifWI');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card{
    margin-top: 10px;
}

form {
    width: 300px;
    margin: 0 auto;
}

h3{
    font-size: 5px;
}

h5{
    text-align: center;
    color: whitesmoke;
}

footer{
    background-color: black;
}

a{
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram{
    background: white;
    color: #000;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-envelope{
    background: white;
    color: black;
}

.fa-phone{
    background: white;
    color: black;
}
.fa{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 1%;
    margin-left: 10px;
  }