{% extends 'hoodie/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-grp">
            <button class="btn btn-outline-info">Login</button>
        </div>
    </form>

    <div class="border-top pt-3">
        <small>Already have an account?<a href="{% url 'register' %}" >Sign Up Here</a></small>
    </div>

{% endblock content %}
