{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hood</title>

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
        

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link href="https://fonts.googleapis.com/css?family=Simonetta&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       
        <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        {% endblock %}

  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(43, 168, 226);">
      <!-- <a class="navbar-brand" href="{% url 'home' %}">Hood</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Hood<span class="sr-only">(current)</span></a>
            </div>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Contacts</a>
                <a class="dropdown-item" href="#">health:991</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Police:12013</a>
              </div>
            </li>

            {% if user.is_authenticated %}
            <a class="item" href="{% url 'logout' %}" style="color: black;">Logout</a>
            <a class="nav-link" href="{% url 'post-create' %}" style="color: black;">Post<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="{% url 'profile' %}" style="color: black;">Profile<span class="sr-only">(current)</span></a>
  
          </li>
  
            {% else %}
            <a class="" href="{% url 'login' %}" tabindex="-1" style="color: black;">Login/</a>
            <a class="" href="{% url 'register' %}" tabindex="-1" style="color: black;">Register</a>
            {% endif %}
        </ul>
       </div>
    </nav>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
      {% endfor %}
      {% endif %} 
    </div>

    {% block content %}
    {% endblock content %}

    {% block scripts %}
    <script>
      UPLOADCARE_PUBLIC_KEY = 'e2207e7694516786cad7'
    </script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    {% bootstrap_javascript %}
    {% endblock%}

  </body>
</html>
