{% extends 'hoodie/base.html' %} {% load crispy_forms_tags %} {% load bootstrap4
%}
<!-- {{ form.media }} -->

{% block content %}
<a href="{% url 'post-create' %}">CREATE NEIGHBOURHOOD</a>
<div class="container">
  <div class="row">
    {% if posts %} {% for post in posts %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="{{ post.photo.cdn_url }}-/crop/600x600/center/-/quality/lightest/"
          alt="" style="height: 100%; width: 100%;"
        />
        <div class="card-body">
          <a href="{% url 'post-detail' post.id %}">{{post.location}}</a>
        </div>
      </div>
    </div>
          {% endfor %} {% endif %}
  </div>
</div>
{% endblock content %}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="..." />
</div>
